.card {
  .ordered-products {
    .product-info {
      margin-bottom: 25px;
    }
    padding: 20px 20px 20px 0;
    .product-image {
      width: 150px;
      img {
        width: 100%;
      }
    }
    .product-details {
      p {
        margin: 0;
      }
    }
    h5.card-subtitle {
      padding: 10px 10px 7px 0;
    }
  }
  padding: 25px;
  p.card-text {
    &.order-date {
      display: inline-block;
      margin-left: 15px;
      font-size: 1.3rem;
    }
    margin-bottom: 1.5px;
    font-size: 14px;
    &:last-child {
      margin-bottom: 5px !important;
    }
  }
  h6.card-subtitle {
    padding: 3px 0 12px 0;
  }
  a.card-link {
    &.show-on-small {
      display: none !important;
    }
    font-size: 17px;
    display: inline-block;
    margin-top: 5px;
  }
  .total-sum-badge {
    &.product-price {
      padding: 3px 6px;
      font-size: 13px;
    }
    margin-left: 15px;
    padding: 9px 20px;
    font-size: 15px;
    border-radius: 5px;
    background: #b0bbc466;
  }
  .order-status {
    padding: 13px 13px 17px 17px;
    background: #81C784;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: white;
    border-radius: 0 0 0 40px;
  }
  .delivery-way {
    &.delivery-city {
      background: #ff7043bd;
    }
    &.delivery-post {
      background: #58c1d6d4;
    }
    margin-left: 15px;
    padding: 9px 20px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .card {
    h5.card-title {
      font-size: 1rem;
    }
    h6.card-subtitle {
      font-size: 0.8rem;
    }
    p.card-text {
      font-size: 0.8rem;
    }
    a.card-link {
      font-size: 15px;
    }
    .delivery-city, .delivery-post, .total-sum-badge {
      padding: 4px 6px;
      font-size: 10.5px;
    }
  }
}
@media screen and (max-width: 400px) {
  .card {
    .ordered-products {
      padding: 20px 20px 0 0;
      .product-info {
        margin-bottom: 20px;
      }
      .product-image {
        width: 130px;
      }
      .product-details {
        p {
          margin: 0;
          font-size: 0.8rem;
        }
      }
      h5.card-subtitle {
        font-size: 1.0rem;
        padding: 10px 10px 7px 0;
      }
    }
    p.card-text {
      &.order-date {
        display: block;
        padding: 7px 0 0 0;
        margin: 0;
      }
      font-size: 0.8rem;
    }
    .delivery-post, .delivery-city {
      margin: 0;
    }
    .total-sum-badge {
      &.product-price {
        display: block;
        width: 30%;
        margin: 4px 0 0 0;
      }
      margin-left: 10px;
    }
    .order-status {
      padding: 8px 5px 10px 10px;
      font-size: 10px;
    }
    a.card-link {
      &.hide-on-small {
        display: none !important;
      }
      &.show-on-small {
        display: inline-block !important;
        font-size: 14px;
        width: 100px;
        margin-left: 15px;
        margin-top: 5px;
      }
    }
  }
}
